body, html {
  background: #020c1b;
}

.card{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #0a192f;
  padding: 35px;
  border-radius: 10px;
  .text{
    text-align: center;
    font-weight: 900;
    .title{
      color: #ccd6f6;
      font-size: 38px;
    }
    .sub-title{
      color: #8892b0;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  .photo{
    display: block;
    margin: 0 auto;
    text-align: center;
    img{
      max-width: 220px;
      height: initial;
      border-radius: 50%;
    }
  }
}
