body{
  background: grey;
  h1{
    color: red;
  }
  span{
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: center;
  }
}
header{
  background: red;
}
h2{
  color: green;
  font-size: 12px;
}